@page "/events"

<a href="/">View Canvas2d page</a>
<br>
<a href="/teximage2d">Show TexImage2D method test</a>
<br>

<span>@_display</span>

<BECanvas Width="800" Height="600" @ref="_canvasReference" OnMouseDown="(e) => MouseDownTest(e)"></BECanvas>